<style>
  .tag {
    height: 32px;
    width: 100px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #007FFF;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    flex-direction: row;
  }
  .tag span {
    font-size: 16px;
  }
</style>

{% if tags contains 'best-seller' %}
  <div class="tag">
    <span class="material-symbols-outlined">
      sell
      </span>
    <p>Best Seller</p>
  </div>
{% endif %}