...
<div class="card__content">
    <div class="card__information">
        <h4 style="z-index: 99; position: relative; cursor: pointer;" data-target="{{ card_product.handle}}" class="modal-selector-quick-view">Quick View</h4> {% comment %} <--- add here {% endcomment %}
    ...